:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0px 1px 5px rgba(104, 104, 104, 0.8);
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;

}

h1 {
  font-family: sans-serif;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* [class*="col-"] {
    width: 100%;
  } */

  .tall-image {
    display: none;
  }
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  padding-top: 1em;
  padding-right: 1em;
}

.nav-bar a {
  padding-right: 1em;
  text-decoration: none;
}

.container {
  display: grid;
}

.main-image {
  width: 100%;
}

.tall-image {
  width: 40%;
}

.presentation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}