:root {
  /* --primary: #b9281a; */
  --primary: #333333;
  --dark: #333333;
  --dark-grey: #555555;
  --soft: #888888;
  --light: #fff;
  --link: #1976d2;
  --call: #4caf50;
  --shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--dark);
}

body {
  color: var(--primary);
  margin: 0;
  padding: 0;
}

p {
  color: var(--dark);
  margin: 1em 0;
}

h1 {
  font-weight: 900;
}

h2 {
  margin-bottom: 0.5em;
  font-weight: 700;
}

h2 > p {
  font-weight: 700;
}

h3 {
  margin-bottom: 0.5em;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

section {
  display: inline-block;
  margin-top: 0;
}

section.story {
  margin-top: 6em;
}

h1.main-name {
  color: var(--dark);
  font-weight: 900;
  font-size: 5.7vw;
}

h4.hello p {
  font-size: 3.9vw;
  margin: 0;
  font-weight: 300;
}

/* .wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr;
} */

#header {
  margin-bottom: 4em;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  color: white;
  background: rgba(235, 235, 235, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.5em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  padding: 0.5em;
  margin-top: 1em;
  font-weight: 700;
}

.nav-bar a {
  color: var(--dark);
  padding-right: 1em;
  opacity: 0.7;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
}

.content-container {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 3em;
}

.intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4em;
  grid-gap: 2em;
}

.intro-content li {
  margin: 1em 0;
}

.container {
  display: grid;
}

.header-text {
  position: absolute;
}

.hey-hi {
  position: relative;
  z-index: 10;
  top: 20vw;
  left: 6vw;
}

.main-image {
  width: 100%;
}

.presentation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#cool-code {
  height: 30em;
}

#story {
  margin: 4em 0;
}

.story-reason h4 {
  color: var(--soft);
  text-align: right;
  text-transform: uppercase;
}

.story-image {
  text-align: center;
}

.story-image img {
  max-width: 100%;
  max-height: 500px;
}

.story-epic {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-gap: 1em;
  margin-bottom: 6em;
}

.story-epic-date {
  font-weight: 700;
  font-size: 0.8em;
  color: var(--soft);
}

/* h2.story-title {
  margin-bottom: 1em;
  text-align: center;
} */

.title-without-subtitle {
  margin-bottom: 3em;
}

.section-title {
  font-size: 2em;
  color: var(--primary);
  text-align: center;
}

.section-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.section-title span:after {
  content: "";
  position: absolute;
  height: 0px;
  top: 0.6em;
  border-bottom: 2px solid var(--primary);
  width: 60px;
}
.section-title span:before {
  right: 100%;
  margin-right: 15px;
}
.section-title span:after {
  left: 100%;
  margin-left: 15px;
}

#cool-images {
  /* background-image: url(/static/svg/bg1.svg);
  background-size: cover; */
}

#cool-ideas, #cool-images, #testimonials, #social {
  display: block;
}

.cool-ideas-container {
  background-image: url(/static/svg/bg3.svg);
  background-size: cover;
  text-align: center;
  padding: 3em 2em 2em 2em;
}

.cool-ideas-container a {
  display: block;
  font-weight: 300;
  font-size: 160%;
  /* text-transform: uppercase; */
  margin-bottom: 1em;
  color: var(--light);
}

.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
}

.thumbnail,
.social-media-icon {
  min-height: 200px;
}

.section-subtitle {
  color: var(--dark);
  font-weight: 300;
  font-size: 150%;
  text-align: center;
  margin-bottom: 1em;
}

.social-media-icons img {
  max-width: 120px;
}

.social-media-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  max-width: 60em;
  margin: 3em auto 4em auto;
  text-align: center;
  grid-gap: 4em;
}

.schedule-call {
  text-align: center;
  margin-top: 4em;
}

.schedule-call a {
  font-size: 120%;
  font-weight: 700;
  color: var(--light);
  background-color: var(--call);
  padding: 1em 4em;
  border-radius: 2em;
  box-shadow: 2px 2px 2px rgba(68, 12, 4, 0.7);
}

#footer {
  display: block;
  margin-top: 10em;
  margin-bottom: 20em;
}

@media only screen and (max-width: 1115px) {
  .section-title span:before,
  .section-title span:after {
    display: none;
  }
}

/* tablets and desktop */
@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  p,
  li {
    font-size: 1.4em;
  }

  #header {
    margin-bottom: 1em;
  }

  .nav-bar {
    border-radius: 2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }

  .nav-bar-wrapper a {
    font-size: 1.3em;
    padding: 0.5em;
  }

  #remarks,
  #familiarity {
    margin-top: 2em;
  }

  .story-reason {
    display: none;
  }

  .story-epic {
    grid-template-columns: 25% auto;
  }

  .story-point h3 {
    font-size: 1.5em;
  }

  .story-epic-date {
    font-size: 1.5em;
    font-weight: 400;
  }

  .cool-ideas-container a {
    font-size: 2em;
  }

  .cool-ideas-container {
    padding: 3em 3em 1px 3em;
  }

  .section-title {
    margin: 0 1em;
  }

  .section-title p {
    font-size: 1.5em;
  }

  .schedule-call a {
    padding: 1em 4em;
  }
}

.reference-image-container div:first-child {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

/* Portrait -  phones */
@media only screen and (max-device-width: 667px) and (orientation: portrait) {
  /* h3 {
    font-size: 4em;
  } */

  /* p,
  li {
    font-size: 3em;
  } */

  .story-epic-date {
    font-size: 3em;
    font-weight: 400;
  }

  .story-point h3 {
    font-size: 3.5em;
  }

  #header {
    margin-bottom: 3em;
  }

  .nav-bar {
    border-radius: 4em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }

  .nav-bar-wrapper a {
    font-size: 2.3em;
    padding: 0.5em;
  }

  .story-reason {
    display: none;
  }

  .story-image {
    margin-bottom: 3em;
  }

  .story-epic {
    display: block;
    margin-bottom: 15em;
  }

  .milestone-title {
    text-align: center;
  }

  section,
  #intro {
    margin-bottom: 14em;
  }

  .section-title {
    font-size: 3em;
    margin: 0;
  }

  .section-title span:before,
  .section-title span:after {
    display: none;
  }

  p.section-title:after {
    content: "";
    display: block;
    margin: 0.8em auto 1em auto;
    height: 0px;
    border-bottom: 2px solid var(--primary);
    width: 5em;
  }

  .section-title.no-after {
    margin-top: 2em;
  }

  .section-title.no-after:after {
    display: none;
  }

  .section-subtitle {
    font-size: 3em;
    margin-bottom: 1.5em;
  }

  p.about-me {
    margin-top: 1em !important;
  }

  .cool-ideas-container {
    padding: 3em 3em 1px 3em;
  }

  .cool-ideas-container a {
    font-size: 3em;
  }

  .cool-images {
    display: block;
  }

  #social {
    margin: 0 3em;
  }

  #social h2 {
    margin: 0 4em;
  }

  .schedule-call a {
    font-size: 3em;
    display: block;
    border-radius: 2em;
    box-shadow: 4px 4px 4px rgba(68, 12, 4, 0.7);
  }

  .reference-image-container div:first-child {
    border-radius: 100%;
    width: 400px;
    height: 400px;
  }

  #references {
    margin: 0 0 2em 0;
  }
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

.testimonial-image div:first-child {
  margin: 0 auto;
}

.tech-names {
  margin-bottom: 0.4em;
}

.tech-name {
  font-family: "Share Tech Mono";
  font-size: 0.8em;
  padding: 0.1em;
}

.cv-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.cv-container h1 {
  font-weight: 700;
}

.cv-bio,
.contact-info {
  margin-bottom: 1.6em;
}

.cv-section {
  margin-bottom: 1.6em;
}

#CV {
  margin-bottom: 10em;
}

.experience-item,
.languages,
.computer-languages,
.tech-stacks {
  margin-bottom: 1.6em;
}
.experience-item h4 {
  display: inline-block;
  margin-bottom: 0.6em;
  margin-right: 0.6em;
  font-size: 1em;
  font-weight: 700;
}

.experience-item span {
  display: inline-block;
}

ul.milestones {
  list-style-type: disc;
  margin-left: 1em;
}

li.milestone {
  margin-bottom: 0.6em;
  font-size: 0.8em;
}

.curiosity {
  margin-top: 2em;
  font-size: 1.3em;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}
